<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let pd of productData">

            <div class="foodBox mt-3 mb-3">
                <img class="boximg" src="{{pd.image}}" />
                <h1 id="productNm">{{pd.name}}</h1>
                <p>{{pd.description}}</p>
                <p>{{pd.price| currency:'TWD'}}</p>
                <br>
                <a class="buybtn" [routerLink]="['/menu',pd.id]">立即購買&nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>

    </div>
</div>
