<div class="container mt-5 mb-5">
    <h1>聯絡我們</h1>
    <p>如有任何需求或合作洽談，都可以透過以下表單與我們聯繫!</p>

    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="姓名">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="電話/手機">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="email">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="LINE帳號">
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">送出</button>

            </div>

        </div>


    </form>

</div>
